@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-style: normal;
}

/* --------------- header --------------- */
.wrap {
  background: gray;
  width: 100vw;
  height: 40px;
  opacity: 0.6;
}

a {
  display: block;
  padding: 10px;
  transition: 0.2s;
}

/* --------------- nav --------------- */
.nav {
  float: left;
}

.nav_li {
  float: left;
}

.nav_li a:hover {
  background-color: beige;
}

/* --------------- login --------------- */
.login {
  background-color: red;
}

.login_li {
  float: right;
}

.login a:hover {
  background-color: beige;
}
